body {
  background-image: url('AdobeStock_97770752.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto cover;
  font-family: Tahoma, sans-serif, serif;
  color: white;
  font-size: 2em;
}

#header {
  height: 10%;
  background:#cfa268;
  opacity: 0.5;
  border:1px solid white;
  width:40%;
  margin:0px auto;
  text-align: center;
  border-radius: 20px;
  padding: 0px;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:5%;
  width:100%;
  background-color: #cfa268;
  opacity: 0.5;
  border:1px solid white;
  text-align: right;
}

#jumbotron {
  padding-top: 40px;
  height: 100%;
  width: 80%;
  margin:0px auto;
  text-align: right;
}

h1 {
  font-family: Tahoma, sans-serif, serif;
  color: white;
  font-size: 1.8em;
}

.select-time {
  background-color: #cfa268;
  opacity: 0.5;
  border:1px solid white;
  text-align: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 15px;
}

.select-energy {
  background-color: #cfa268;
  opacity: 0.5;
  border:1px solid white;
  text-align: center;
  padding-bottom: 15px;
}

.select-goal {
  background-color: #cfa268;
  opacity: 0.5;
  border:1px solid white;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /*padding-bottom: 50px;*/
}

.question {
  font-weight: bold;
}
.overlay{
  transition: all 1.0s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.9);
 }

.modal{ /*Visible part of the overlay*/
  transition: all 2.0s;
  width: 80%;
  height: 80%;
  line-height: 200px;
  position: absolute;
  top: 5%; 
  left: 10%;  
  background-color: rgba(207,162,104,0.3);
  border-radius: 20px;
  text-align: center;
  z-index: 11;
  margin: 50px auto;
}

.hidden{
 display: none;
}

#close-overlay{
  float: left;
  border-radius: 80%;
  background-color: rgba(0,0,0,0,0.3);
  font-weight: bold;
  opacity: 0.6;
}

#overlay-button {
  background: white;
}

div#slideshow img.pastSlide{
  border-radius: 20px;
  transition: all 2.0s;
  position: absolute;
  top: 25%;
  height: 250px;
  width: 250px;
  left: 5%;
  z-index: 18;
  opacity: 0.75;
}

div#slideshow img.activeSlide{
  border-radius: 20px;
  transition: opacity 2.0s ease-in-out, all 2.0s;
  position: absolute;
  top: 5%;
  height: 500px;
  width: 500px;
  left: 25%;
  z-index: 20;
  opacity: 1.0;
}

div#slideshow img.nextSlide{
  transition: all 2.0s;
  border-radius: 20px;
  position: absolute;
  top: 25%;
  height: 250px;
  width: 250px;
  left: 30%;
  z-index: 18;
  opacity: 0;
}

div#slideshow img.futureSlide{
  visibility: visible;
  border-radius: 20px;
  transition: all 2.0s, opacity 2.0s ease-in;
  position: absolute;
  top: 25%;
  height: 250px;
  width: 250px;
  left: 70%;
  z-index: 18;
  opacity: .75;
}