body { 
  display: none;
}

body.display {
  background-image: url('/images/AdobeStock_43535318.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto cover;
  color: white;
  font-family: Tahoma, sans-serif, serif;
  font-size: 2.2em;
  font-weight: bold;
  background-color: rgba(255,255,255,0.0);
  -webkit-text-stroke: 0.8px black;

}

h1 {
  text-align: left;
  padding-left: 150px;
}

label.focus-label {
  background-color:rgba(0,0,0,0.0);  
  padding: 18px;
  margin-top: 40px;
  border-radius: 10px;
  border: 5px solid #064E75;
  font-weight: bold;
  font-size: 30px;
  transition: all 500ms ease;
}

label.focus-label:hover {
  border: 8px solid white;
  font-size: 35px;
  padding: 20px;
  border-radius: 12px;
  transition: all 500ms ease;
}
label.focus-label:active {
  border: 8px solid white;
  font-size: 35px;
  padding: 20px;
  border-radius: 12px;
}

label.clicked {
  border: 5px solid white;
}

#fullpage {
/*  background-color: rgba(255,255,255,0.1);
  color: white;*/
}
  

.section {
  background-color: rgba(255,255,255,0.1);
  color: white;
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke: 1px black;
}


.question {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
  -webkit-text-stroke: 1.2px black;
}

.overlay{
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1.0s;
  width: 100%;
  z-index: 10;
}

.modal{ 
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
  height: 90%;
  left: 5%;  
  line-height: 200px;
  margin: 50px auto;
  position: absolute;
  text-align: center;
  top: -2%; 
  transition: all 2.0s;
  width: 90%;
  z-index: 11;
}

.hidden{
 display: none;
}

#close-overlay{
  background-color: rgba(0,0,0,0,0.3);
  border-radius: 80%;
  float: left;
  font-weight: bold;
  opacity: 0.6;
}

#overlay-button {
  background-color:rgba(0,0,0,0.0);  
  padding: 20px;
  margin-top: 40px;
  border-radius: 15px;
  border: 8px solid #064E75;
  font-weight: bold;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 0.8px black;
}

#overlay-button:hover {
  border: 8px solid white;
}

#overlay-button:active {
  border: 8px solid white;
}

#top-rated-button {
  background-color:rgba(0,0,0,0.0);  
  padding: 30px;
  border-radius: 25px;
  border: 8px solid #064E75;
  font-weight: bold;
  font-size: 60px;
  color: white;
  -webkit-text-stroke: 0.8px black;
  transition: all 500ms ease;
}

#top-rated-button:hover {
  border: 12px solid white;
  padding: 35px;
  font-size: 70px;
  border-radius: 30px;
}

#top-rated-button:active {
  border: 8px solid white;
}

#userTimeTextbox, #userStartTextbox {
  background-color:rgba(0,0,0,0.0);  
  border: 5px solid #064E75; 
  border-radius: 10px; 
  outline:0; 
  height:10%; 
  width: 18%; 
  padding: 8px 10px;  
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.8px black;
} 

.arrowUp, 
.arrowDown{
  position:fixed;
  z-index:5;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-left: -38px;
  left: 50%;
}
.arrowDown{
  bottom: 20px;
  border-width: 38.5px 34px 0 38.5px;
  border-color: white transparent transparent transparent;
}
.arrowUp{
  top: 20px;
  border-width: 0 38.5px 34px 38.5px;
  border-color: transparent transparent white transparent;
}

input[type=range] {
  -webkit-appearance: none;
  width: 30%;
  margin-top: 0px;
  margin-bottom: 40px;
/*  margin: 8px 0;
*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #064E75;
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #064E75;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #293b56;
  border-radius: 0px;
  border: 0.2px solid #064E75;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #212f45;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #293b56;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #293b56;
}
input[type=range]:focus::-ms-fill-upper {
  background: #314767;
}

#rateYo{
  left: 25%;
  position: absolute;
  top: 30%;
  z-index: 25;
}

#slideshow div.pose-name{
  margin-top: 422px;
}

#slideshow div.pose-name label{
  font-size: 1.6em;
}

#slideshow div label{
  color: white;
}

#slideshow div label#rate-sequence-title{
  left: 18%;
  position: absolute;
}

#slideshow img.pastSlide{
  border-radius: 20px;
  left: -25%;
  opacity: 0.75;
  position: absolute;
  top: 3%;
  transform: scale(0.3);
  transition: all 1.0s;
  z-index: 18;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

#slideshow img.activeSlide{
  border-radius: 20px;
  left: 13.5%;
  opacity: 1.0;
  position: absolute;
  top: -1%;
  transform: scale(0.85);
  transition: opacity 2.0s ease-in-out, all 1.0s;
  z-index: 20;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

#slideshow img.nextSlide{
  border-radius: 20px;
  left: 15%;
  opacity: 0;
  position: absolute;
  top: 5%;
  transform: scale(0.25);
  transition: all 1.0s;
  z-index: 15;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

#slideshow img.futureSlide{
  border-radius: 20px;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 3%;
  transform: scale(0.3);
  transition: all 1.0s, opacity 1.0s ease-in;
  visibility: visible;
  -webkit-filter: grayscale(80%);
  z-index: 18;
}

#slideshow img.pastSlide, #slideshow img.futureSlide,
#slideshow img.activeSlide, #slideshow img.nextSlide{
 -webkit-filter: grayscale(100%);
}

#slideshow#rateYo{
  visibility: none;
}


#random-rated-sequence{
  background: rgba(0, 0, 0, 0);
}

#rate-sequence-container button#rate-sequence-button{
  background-color: rgba(0,0,0,0.0);
  border-radius: 10px;
  color: white;
  border: 4px solid #064E75;
  font-weight: bold;
  font-size: 27px;
  left: 26%;
  padding: 5px;
  position: absolute;
  top: 46%;
  z-index: 25;
}

#rate-sequence-container button#rate-sequence-button:hover{
  border: 4px solid white;
}

#rate-sequence-container{
  display: -webkit-inline-box;
  height: 500px;
  left: 28%;
  position: absolute;
  top: 17%;
  width: 500px;
}

#soundcloud-container{
  display: none;
  float: right;
  left: 80%;
  overflow: hidden;
  position: fixed;
  top: 0%;
  z-index: 15;
}

#sound-button{
  background-color:rgba(0,0,0,0.0);  
  border-radius: 15px;
  border: 8px solid #064E75;
  color: white;
  font-weight: bold;
  font-size: 40px;
  left: 75%;
  position: absolute;
  top: 1%;
  -webkit-text-stroke: 0.8px black;
  z-index: 25;
}

#sound-button:hover{
  border: 8px solid white;
  /*color: white;*/
}

#sound-button.soundcloud-offscreen{
  left: 95%;
}

.soundcloud-onscreen{

}