body {
  background-image: url('/images/brick_wall_1920.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto cover;
  color: white;
  font-family: Tahoma, sans-serif, serif;
  font-size: 2em;
}

#header {
  background:#cfa268;
  border:1px solid white;
  border-radius: 20px;
  height: 10%;
  margin:0px auto;
  opacity: 0.8;
  padding: 0px;
  width:40%;
  text-align: center;
}

#footer {
  background-color: #cfa268;
  border:1px solid white;
  bottom:0px;
  height:5%;
  left:0px;
  opacity: 0.5;
  position:fixed;
  text-align: right;
  width:100%;
}

#jumbotron {
  height: 100%;
  margin:0px auto;
  padding-top: 40px;
  text-align: right;
  width: 80%;
}

h1 {
  color: white;
  font-family: Tahoma, sans-serif, serif;
  font-size: 1.8em;
  font-weight: bold;
  -webkit-text-stroke: 0.8px black;
}

label{
  font-weight: bold;
  -webkit-text-stroke: 0.8px black;
}

.select{
  background-color: rgba(207,162,104,0.9);
  border:1px solid white;
  opacity: 0.8;
  text-align: center;
}

.time {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 15px;
}

.start {
  padding-bottom: 15px;
}

.goal {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /*padding-bottom: 50px;*/
}

.question {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.8px black;
}
.overlay{
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1.0s;
  width: 100%;
  z-index: 10;
 }

.modal{ /*Visible part of the overlay*/
  background-color: rgba(207,162,104,0.3);
  border-radius: 20px;
  height: 80%;
  left: 10%;  
  line-height: 200px;
  margin: 50px auto;
  position: absolute;
  text-align: center;
  top: 5%; 
  transition: all 2.0s;
  width: 80%;
  z-index: 11;
}

.hidden{
 display: none;
}

#close-overlay{
  background-color: rgba(0,0,0,0,0.3);
  border-radius: 80%;
  float: left;
  font-weight: bold;
  opacity: 0.6;
}

#overlay-button {
  background: white;
  left: 30%;
}

div#slideshow img.pastSlide{
  border-radius: 20px;
  height: 250px;
  left: 5%;
  opacity: 0.75;
  position: absolute;
  top: 25%;
  transition: all 2.0s;
  width: 250px;
  z-index: 18;
}

div#slideshow img.activeSlide{
  border-radius: 20px;
  height: 500px;
  left: 25%;
  opacity: 1.0;
  position: absolute;
  top: 5%;
  transition: opacity 2.0s ease-in-out, all 2.0s;
  width: 500px;
  z-index: 20;
}

div#slideshow img.nextSlide{
  border-radius: 20px;
  height: 250px;
  left: 30%;
  opacity: 0;
  position: absolute;
  top: 25%;
  transition: all 2.0s;
  width: 250px;
  z-index: 18;
}

div#slideshow img.futureSlide{
  border-radius: 20px;
  height: 250px;
  left: 70%;
  opacity: .75;
  position: absolute;
  top: 25%;
  transition: all 2.0s, opacity 2.0s ease-in;
  width: 250px;
  visibility: visible;
  z-index: 18;
}
#slideshow#rateYo{
  visibility: none;
}