body { 
  display: none;
}

body.display {
  background-image: url('/images/AdobeStock_43535318.jpeg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto cover;
  color: black;
  font-family: Tahoma, sans-serif, serif;
  font-size: 2.2em;
  font-weight: bold;
  background-color: rgba(255,255,255,0.0);
}

h1 {
  text-align: left;
  padding-left: 170px;
}

#fullpage {
  background-color: rgba(255,255,255,0.1);
}
  
#footer {
  background-color: #cfa268;
  border:1px solid white;
  bottom:0px;
  height:5%;
  left:0px;
  opacity: 0.5;
  position:fixed;
  text-align: right;
  width:100%;
  background-color: rgba(255,255,255,0.0);
}

.section {
  font-size: 2em;
  text-align: center;
  }


.question {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-text-stroke: 0.8px black;
}

.overlay{
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 1.0s;
  width: 100%;
  z-index: 10;
 }

.modal{ 
  background-color: rgba(255,255,255,0.1);
  border-radius: 20px;
  height: 80%;
  left: 5%;  
  line-height: 200px;
  margin: 50px auto;
  position: absolute;
  text-align: center;
  top: 5%; 
  transition: all 2.0s;
  width: 90%;
  z-index: 11;
}

.hidden{
 display: none;
}

#close-overlay{
  background-color: rgba(0,0,0,0,0.3);
  border-radius: 80%;
  float: left;
  font-weight: bold;
  opacity: 0.6;
}

#overlay-button {
  background-color:rgba(0,0,0,0.0);  
  padding: 20px;
  border-radius: 10px;
  border: 4px solid #064E75;
  font-weight: bold;
  font-size: 34px;
 }

#overlay-button:hover {
  border: 4px solid white;
  }

#top-rated-button {
  background-color:rgba(0,0,0,0.0);  
  padding: 40px;
  border-radius: 30px;
  border: 10px solid #064E75;
  font-weight: bold;
  font-size: 70px;
 }

#top-rated-button:hover {
  border: 10px solid white;
  }

#top-rated-button:active {
  border: 10px solid white;
  }

#userTimeTextbox, #userStartTextbox {
    border: 3px solid #064E75; 
    border-radius: 10px; 
    outline:0; 
    height:20px; 
    width: 100px; 
    padding: 10px 12px;  
    text-align: center;
    font-size: 15px;
  } 

.arrowUp, 
.arrowDown{
    position:fixed;
    z-index:99;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-left: -38px;
    left: 50%;
}
.arrowDown{
    bottom: 20px;
    border-width: 38.5px 34px 0 38.5px;
    border-color: #fff transparent transparent transparent;
}
.arrowUp{
    top: 20px;
    border-width: 0 38.5px 34px 38.5px;
    border-color: transparent transparent #fff transparent;
}

input[type=range] {
  -webkit-appearance: none;
  width: 25%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #293b56;
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #314767;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #293b56;
  border-radius: 0px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #212f45;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #293b56;
  border: 0.2px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.2px 0.2px 0.7px #000000, 0px 0px 0.2px #0d0d0d;
  border: 2.5px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #293b56;
}
input[type=range]:focus::-ms-fill-upper {
  background: #314767;
}

#rateYo{
  left: 40%;
  position: absolute;
  top: 55%;
  z-index: 25;
}

#slideshow div.pose-name{
  margin-top: 420px;
}

#slideshow div label{
  color: white;
}

#slideshow img.pastSlide{
  border-radius: 20px;
  left: -22%;
  opacity: 0.75;
  position: absolute;
  top: 3%;
  transform: scale(0.3);
  transition: all 1.0s;
  z-index: 18;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#slideshow img.activeSlide{
  border-radius: 20px;
  left: 15.5%;
  opacity: 1.0;
  position: absolute;
  top: 2%;
  transform: scale(0.85);
  transition: opacity 2.0s ease-in-out, all 1.0s;
  z-index: 20;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#slideshow img.nextSlide{
  border-radius: 20px;
  left: 15%;
  opacity: 0;
  position: absolute;
  top: 5%;
  transform: scale(0.25);
  transition: all 1.0s;
  z-index: 15;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#slideshow img.futureSlide{
  border-radius: 20px;
  left: 53.5%;
  opacity: .75;
  position: absolute;
  top: 3%;
  transform: scale(0.3);
  transition: all 1.0s, opacity 1.0s ease-in;
  visibility: visible;
  -webkit-filter: grayscale(100%);
  z-index: 18;
}

#slideshow img.pastSlide, #slideshow img.futureSlide,
#slideshow img.activeSlide, #slideshow img.nextSlide{
 -webkit-filter: grayscale(100%);
}

#slideshow#rateYo{
  visibility: none;
}

#random-rated-sequence{
  background: rgba(0, 0, 0, 0);
}