
<div id="bgDimmer"></div>
<div id="slideshow"><label id="rate-sequence" class="hidden">Rate this Sequence?</label><div id="rateYo"></div><button id="rate-sequence-button" class="hidden" name="rating">Submit Rating<button id="close-overlay" class="hidden"  name="popup button">X</button>
</div>

<div id="fullpage">
  <div class="section" id="section1">
    <h1>YogaMe!</h1>
  </div>

  <div class="section">
    <p>It's as simple as 1, 2, 3, 4!</p>
    <button id="random-rated-sequence" class="">No Time to Think<br>Just Yoga Now!</button>
  </div>
  <div class="section">
    <form id="post_sequence" method="post" action="/generate">
      <div class="slide" id="time-slide">
        <div class="select time">
          <p class="question">1. How much time do you have?</p>
          <input id="userTime" type="range" min="1" max="3" step="1" onchange="userTimeTextbox.value = userTime.value" name="time" />
          <input id="userTimeTextbox" type="text" value="A fair amount."/>
          <br>
        </div>
      </div>
      <div class="slide" id="start-slide">
        <div class="select start">
          <p>2. How would you like to start?</p>
          <input id="userStart" type="range" min="1" max="2" step="1" onchange="userStartTextbox.value = userStart.value" />
          <input id="userStartTextbox" type="text" name="start" value="Standing"/>
          <br>
        </div>
      </div>
      <div class="slide" id="goal-slide"> 
        <div class="select goal">         
          <p class="question">3. What's your goal today? </p>
          <input type="checkbox" class="checkbox" id="userInputStretch" name="focus" value="Stretch" checked="true"><label>Stretch</label>
          <input type="checkbox" class="checkbox" id="userInputMove" name="focus" value="Move"><label>Move</label>
          <input type="checkbox" class="checkbox" id="userInputStrength" name="focus" value="Strength"><label>Strength</label>
          <input type="checkbox" class="checkbox" id="userInputRelax" name="focus" value="Relax"><label>Relax</label>
      </div>
    </div>
    <div class="slide">
      <p>4. </p><button id="overlay-button" value="">YogaMe!</button>
    </div>
    </form>
  </div>