<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Yoga</title>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/images.json"></script>
  <script type="text/javascript" src="javascript/script.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
   
  <title></title>
</head>
<body class="fade-out">
  <%= yield %>
</body>
</html>
