<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Yoga</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/jquery.fullPage.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="javascript/images.json"></script>
  <script type="text/javascript" src="javascript/script.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.0.1/jquery.rateyo.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="vendors/jquery.easings.min.js"></script>
  <script type="text/javascript" src="vendors/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="javascript/jquery.fullPage.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#fullpage').fullpage({
      sectionsColor: ['#f2f2f2', '#4BBFC3', '#7BAABE', 'whitesmoke', '#F0FFFF'],
    });
  });
  </script>
  <style type="text/css">
  .section {
    font-size: 2em;
    text-align: center;
  }
  </style>
  <title></title>
</head>
<body class="fade-out">
  <%= yield %>
</body>
</html>
